.win{
	color: green;
}
#max{
	width: 30px;
}
.los{
	color: red;
}
.container{
	text-align: center;
	width: 300px;
	height: 200px;
	border: 2px solid black;
	padding: 5%;
}
body{
	margin-top: 10%;
	margin-left: 33%;
}